<div class="header-carousel owl-carousel" id="slider">
    <div class="header-carousel-item">
        <img src="https://varundrupaltheme.lndo.site/sites/default/files/2025-03/pic1.jpg" class="img-fluid w-100"
            alt="Image">

    </div>
    <div class="header-carousel-item">
        <img src="https://varundrupaltheme.lndo.site/sites/default/files/2025-03/pic2.jpeg" class="img-fluid w-100"
            alt="Image">

    </div>
    <div class="header-carousel-item">
        <img src="https://varundrupaltheme.lndo.site/sites/default/files/2025-03/pic3.jpeg" class="img-fluid w-100"
            alt="Image">

    </div>
</div>