<!-- Leaders Message Start -->
<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="pb-5">
            <h4 class="text-secondary sub-title fw-bold wow fadeInUp" data-wow-delay="0.1s">Leaders Message</h4>
            <h1 class="display-2 mb-0 wow fadeInUp" data-wow-delay="0.3s">What Our Leaders Say</h1>
        </div>
        <div class="owl-carousel testimonial-carousel pt-5 wow fadeInUp" data-wow-delay="0.2s" id="leaders-say">
            <div class="testimonial-item border text-center rounded">
                <div class="rounded-circle position-absolute"
                    style="width: 100px; height: 100px; top: 25px; left: 50%; transform: translateX(-50%);">
                    <img class="img-fluid rounded-circle" src="img/president.jpg" alt="img">
                </div>
                <div class="position-relative" style="margin-top: 140px;">
                    <h5 class="mb-0">Smt Droupadi Murmu</h5>
                    <p>President of India</p>
                </div>
                <div class="testimonial-content p-4">
                    <p class="fs-5 mb-0">At the core of the transformation, we have been witnessing in healthcare,
                        education, economy as well as a number of related areas is the stress on good governance. When
                        work is done with the spirit of 'Nation First', it is bound to reflect in every decision and
                        every sector. This is also reflected in India's standing in the world. Jai Hind!
                    </p>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Leaders Message End -->