<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
        <a href="#" class="navbar-brand p-0">
            <img src="https://varundrupaltheme.lndo.site/sites/default/files/2025-03/logo.jpg" alt="Logo" style="width: 100%;">
        </a>
        <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>-->
        <div class="collapse navbar-collapse">
            <div class="navbar-nav ms-auto py-0" id="navbarCollapse"></div>
          
        </div>
    </nav>
</div>
<!-- Navbar & Hero End -->

<!-- Marquee Start -->
<div class="container-fluid bg-secondary wow zoomInDown"  style="background-color:#f28b00 !important;" data-wow-delay="0.1s"
    style="visibility: visible; animation-delay: 0.1s; animation-name: zoomInDown;" >
    <div class="container">
        <div class="main">
            <marquee class="marq" bgcolor="LightGray" direction="left" loop="">
                <div class="geek1">
                    *Kindly note: User Manual for <b>MMS/FMS</b> uploaded in <b>IT KNOWLEDGE</b>.
                </div>
            </marquee>
        </div>
    </div>
</div>
<!-- Marquee End -->