<!-- Topbar(INA Motto) Start -->
<div class="container-fluid bg-secondary px-5 d-none d-lg-block" style="background-color:#f28b00 !important;">
    <div class="row gx-0 align-items-center" style="height: 58px;">
        <div class="main">
            <marquee class="marq" bgcolor="#FFA500" direction="left" loop="">
                <div class="geek1">
                    Indian Naval Academy, The Motto: The motto inscribed in Sanskrit <q>Vidya Amritam Ashnute</q>
                    interprets as <q>Be Immortal Through Knowledge.</q>The ab-initio training imparted at the academy
                    will ensure that every officer who pass out through its portals will be leaders worthy of trust and
                    confidence that the nation has reposed in them. It will also establish bridges of friendship accross
                    the ocean by training personnel from friendly foreign countries.
                </div>
            </marquee>
        </div>
    </div>
</div>
<!-- Topbar(INA Motto) End -->
